*{
    padding:0;
    margin:0;
}
#navbar1{
    background-color:black;
    height:60px; 
    color:white;
    display:flex;
    justify-content:space-evenly;   /*for horizontal center*/
    align-items:center;
   
}
.nav-logo{
    
    
    height:50px;
    width:100px;
}
#logo{
    background-image:url("amazon.jpeg");
    background-size:cover;
   height:55px;
   width:100px;  
   
}
#logo:hover{
    height:55px;
    width:100px;
    border:2px solid white;
}
.address{
     margin-top:6px;    /*to add distance from top */
    margin-left:8px;    /*to maintain ditance from left logo*/
    line-height:1;
}
.address:hover{
    border:2px solid white;  /*when hover to get the border*/
   
}
.add-icon{
    display:flex;        /* to make icon and india in same line*/    
    align-items:center;         
    flex-direction:row;
    margin-top:5px;     /*to get distance between logo*/
    
}
.add-icon i {
    margin-right:5px;    /* i is used for icons this is for distance between icon and inda*/
    
}
.first{
    display:flex;
    color:#CCCCCC;
    font-size:14px;
    
}
.second{
    color:#FFFFFF;
}
.search{
    display:flex;  
    justify-content:space-evenly;
    width:620px;
    height:40px;
}
.drop{
    
    width:50px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    background-color:#CCCCCC;
    text-align:center;
    border:none;
}
.search:hover{
    border-radius:7px;
    border:3px solid #FD8B51;
}
.searchbar{
    width:100%;
    font-size:18px;
    border:none;
}
.searchicon{
    width:40px;
    background-color:#FFAD60;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border:none;
}
span{
    font-size:12px;
    color:#CCCCCC;
}
.second-sign{
    font-weight:900;
    font-size:17px;
}
.cart-icon i{
    font-size:35px;
}

#panel{
    background-color:#2F3645;
    color:white;
    height:35px; 
    display:flex;
    align-items:center; 
}
.bars {
    display:flex;
}
.bars i{
    margin-left:8px;
    color:white;
    font-size:20px;
}
.bar{
    margin-left:4px;
}
a{
    margin-left:20px;
    color:white;
    text-decoration:none;
    width:70%;
}
a:hover{
    border:2px solid white;
}
.special{
     margin-left:12%;
}
.hero_image{
    background-image:url("hero_im.jpg");
    background-size:cover;
    height:350px;
    width:100%;
    display:flex;          /*to make it at the bottom we create a flex so we can use flex-end properties to make it bottom*/
    align-items:flex-end;  
    justify-content:center;
}
.message{
   
    background-color:#FFFFFF;
    color:black;
    height:40px;
    width:80%;
    display:flex;           /*for making the items shifting flex properties below properties first tehy should be flex*/
    justify-content:center;  /*for horizontal center*/
    align-items:center;      /* for vertical centerr*/
    
    font-size:0.85rem;
    position:relative;
    bottom:30px;
}
.ama{

    color:blue;
}

.shop-section{   /*combined for all boxes to space evenly*/
    display:flex;
    flex-wrap:wrap;   /*this is to make fix only four boxes in arow otherwise the added ones all comes in same row*/
    align-items:center;
    justify-content:space-evenly;  
    position:relative;
    top:20px;
    text-align:center;
    
}
.box{     /*each box appearence*/
    margin-top:15px;
    height:250px;
    width:22%;
    
    background-color:white;

}
body{
    background-color:#e2e7e6;
}
.care{   /*inside every box inside box alignment then flex inside class*/
    background-size:contain;
    background-repeat: no-repeat;
    height:200px;
    width: 310px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    margin-left:8%;
    
}

.foot-panel1{
   color:white;
   background-color:#37475a;
   height:49px;
   display:flex;
   justify-content:center;
   align-items:center;
   margin-top:100px;
}

.foot-panel2{
    color:white;
    background-color:#333333;
    height:300px;
    display:flex;
    justify-content:space-evenly;
}

ul a{
    display:inline-block;
}
